[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RakeshU45
[access "refs/for/refs/*"]
	read = group user/RakeshU45
	push = group user/RakeshU45
	label-Code-Review = -2..+2 group user/RakeshU45
	label-Verified = -1..+1 group user/RakeshU45
	rebase = group user/RakeshU45
	removeReviewer = group user/RakeshU45
	submit = group user/RakeshU45
[access "refs/heads/*"]
	read = group user/RakeshU45
	create = group user/RakeshU45
	push = +force group user/RakeshU45
	pushMerge = group user/RakeshU45
[access "refs/tags/*"]
	push = group user/RakeshU45
	push = +force group user/RakeshU45
